body{
    font-family: "Montsrrat";
}

.container-fluid{
padding: 3% 15%;
    
}

/* tittle */
#title{
    background-color: #ff4c68;
    color: white;
    padding: 3% 6%;
}
.heading{
    padding-top: 10%;
    font-family: "Montserrat";
    font-size: 80px;
    padding-bottom: 20%;
    
}

.btn{
    margin-left: 20px;
}


.image{
    padding-top: 3%;
    padding-left: 19%;
    
}


/* features */
#features{
    padding: 7% 13%;
}

.icon{
    color: #f0556c;
    margin-bottom: 15px;
}

.icon:hover{
    color: #ff2a4a;
}

.feature-box{
    text-align: center;
    padding: 5%;
}
h3{
    font-family: "Montserrat";
}
h2{
    font-size:3rem;
    font-family: "Montserrat";
    color: aquamarine;
}

p{
    color: rgb(107, 107, 107);
}

#testimonials{
    padding: 7% 13%;
    text-align: center;
    background-color: #eb5e5b;
    color: white;
}

.testimonial-text{
    font-size: 50px;
}

.testimonial-image{
    border-radius: 100%;
    width: 10%;
    margin: 20px;
}

#press{
    background-color: #eb5e5b;
    text-align: center;
    padding-bottom: 5%;
}


.a{
    width: 10%;
    margin: 20px 10px 20px;
}
/* pricing */

#pricing{
    background-color: #fff;
    text-align: center;
    margin: 7% 10%;
}

.details{
    margin-bottom: 10%;
}

.dog-type{
  font-family: "Montserrat";
  font-size: 60px;
}

.caption{
    font-size: 20px;
}


.button{
    width: 150px;
    height: 45px;
    border: none;
    background-color: #d74d62;
    color: white;
    border-radius: 4px;
    font-size: 20px;
}

.button:hover{
    border: solid;
    border-color: #d74d62;
    background-color: #fff;
    color: #d74d62;
    border-width: 1px;
}

/* call to  action */

#cta{
    text-align: center;
    padding: 10% 10%;
    background-color: #d74d62;
    color: white;
}

.love{
    font-size: 65px;
    padding-bottom: 5%;
}
 

/* footer */
#footer{
    text-align: center;
    padding: 7% 10%;
}

.link{
    margin: 20px;
    font-size: 50px;
    color: black;
}
.insta:hover{
    color:#e91ca5;
}
.twitter:hover{
    color: rgb(29, 161, 242);
}
.github:hover{
    color: #230022;
}

.mail:hover{
    color: rgb(235, 202, 104);
}

.linkedin:hover{
    color:rgb(10, 102, 194);
}

.youtube:hover{
    color: #FF0000;
}
